# .gitignore untuk digitalentappython
# Sesuai standar proyek Python + Docker

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
env/
.eggs/
*.egg-info/
.pytest_cache/

# Env & secret
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Data
*.log
logs/

*.md